In [1]:
# import modules
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot
from datetime import datetime, timedelta
from tqdm import tqdm,trange

In [2]:
# load all data
df_people=pd.read_csv('../data/people.csv')
df_act_train=pd.read_csv('../data/act_train.csv')
df_act_test=pd.read_csv('../data/act_test.csv')

In [3]:
# display ratio of values in all key
print('people.csv')
list_key_people=df_people.keys()
for key_people in list_key_people:
    print(df_people[key_people].value_counts())
    print()

people.csv
ppl_348126    1
ppl_55138     1
ppl_224617    1
ppl_329271    1
ppl_165735    1
ppl_390555    1
ppl_198295    1
ppl_170042    1
ppl_120354    1
ppl_342464    1
ppl_161726    1
ppl_365985    1
ppl_234771    1
ppl_261214    1
ppl_92928     1
ppl_252503    1
ppl_195318    1
ppl_266710    1
ppl_178242    1
ppl_199927    1
ppl_91022     1
ppl_12769     1
ppl_336365    1
ppl_251920    1
ppl_376655    1
ppl_211542    1
ppl_189032    1
ppl_106759    1
ppl_229313    1
ppl_74109     1
             ..
ppl_394852    1
ppl_66040     1
ppl_20118     1
ppl_48658     1
ppl_349629    1
ppl_330464    1
ppl_127234    1
ppl_95870     1
ppl_351504    1
ppl_330941    1
ppl_45797     1
ppl_214061    1
ppl_36325     1
ppl_201156    1
ppl_270047    1
ppl_316451    1
ppl_359853    1
ppl_135845    1
ppl_123404    1
ppl_186343    1
ppl_321191    1
ppl_368784    1
ppl_246928    1
ppl_188165    1
ppl_161399    1
ppl_17524     1
ppl_34082     1
ppl_293297    1
ppl_390949    1
ppl_161619    1
Name: people_id, Length: 189118, dtype: int64

type 2    173867
type 1     15251
Name: char_1, dtype: int64

group 17304    77314
group 667       1538
group 8386      1046
group 9280       666
group 450        659
group 1482       484
group 15723      461
group 3229       423
group 17899      414
group 3598       365
group 11143      364
group 7256       309
group 1270       301
group 5393       285
group 17909      262
group 1358       235
group 1490       228
group 1816       227
group 418        223
group 5693       200
group 2308       188
group 12079      188
group 7124       180
group 9439       172
group 17544      163
group 321        161
group 142        159
group 88         157
group 17701      156
group 12451      153
               ...
group 49152        1
group 17179        1
group 46330        1
group 6778         1
group 19701        1
group 38864        1
group 35924        1
group 33649        1
group 4713         1
group 43087        1
group 21976        1
group 41082        1
group 34695        1
group 41850        1
group 12073        1
group 49219        1
group 26312        1
group 48157        1
group 2002         1
group 32369        1
group 1324         1
group 43103        1
group 18789        1
group 31714        1
group 50388        1
group 41432        1
group 24344        1
group 26592        1
group 48041        1
group 41478        1
Name: group_1, Length: 34224, dtype: int64

type 3    96553
type 2    77314
type 1    15251
Name: char_2, dtype: int64

2023-06-29    4263
2022-06-10    2839
2022-10-14    2145
2022-08-27    1724
2022-10-22    1657
2022-08-09    1607
2022-11-08    1321
2022-11-11    1276
2022-05-28    1230
2023-08-26    1201
2023-02-25    1186
2023-04-29    1112
2023-06-25    1096
2023-05-31    1086
2023-06-30    1080
2022-08-26    1013
2023-06-07    1002
2022-03-04     991
2022-11-02     910
2022-11-10     892
2023-07-21     892
2023-02-19     881
2022-10-20     852
2023-06-12     822
2023-04-08     820
2023-06-22     777
2022-08-05     774
2023-06-08     772
2022-11-25     771
2023-03-25     751
              ...
2020-06-28       8
2020-10-25       7
2021-05-03       7
2021-04-11       7
2021-12-12       7
2020-08-16       7
2020-10-12       7
2022-06-12       7
2020-11-15       7
2020-06-08       7
2020-08-24       7
2020-08-23       7
2020-09-06       6
2021-05-10       6
2020-12-06       6
2021-06-06       6
2020-12-27       5
2022-07-03       5
2021-05-23       5
2021-02-01       5
2020-08-03       5
2020-09-13       5
2022-07-11       4
2021-12-13       4
2022-01-10       3
2022-01-09       3
2022-01-16       2
2022-04-18       2
2020-08-31       2
2022-01-17       1
Name: date, Length: 1196, dtype: int64

type 40    63460
type 4     28091
type 5     13974
type 2     13393
type 11    11027
type 6     10561
type 7     10249
type 15     5619
type 9      5337
type 1      4897
type 19     4327
type 8      2947
type 10     1799
type 21     1797
type 12     1595
type 18     1319
type 17     1286
type 20     1154
type 3      1135
type 24      690
type 28      675
type 26      661
type 29      577
type 16      440
type 30      420
type 13      418
type 31      261
type 14      243
type 23      162
type 27      117
type 22      100
type 32       97
type 25       68
type 33       49
type 39       38
type 34       31
type 35       29
type 36       22
type 37       19
type 41       16
type 38       15
type 44        2
type 42        1
Name: char_3, dtype: int64

type 25    63460
type 6     44937
type 2     15217
type 5     14404
type 7     13249
type 8      7509
type 15     5073
type 1      4897
type 3      3782
type 4      3465
type 9      2311
type 12     2302
type 10     1979
type 16     1482
type 13      758
type 21      754
type 22      741
type 18      690
type 19      497
type 11      415
type 14      410
type 23      276
type 17      236
type 20      194
type 24       80
Name: char_4, dtype: int64

type 9    63460
type 5    28896
type 4    28458
type 2    22105
type 8    11138
type 3    11032
type 7     9943
type 6     9189
type 1     4897
Name: char_5, dtype: int64

type 1    67051
type 3    50136
type 4    41966
type 5    17883
type 2     8537
type 6     1810
type 7     1735
Name: char_6, dtype: int64

type 8     20551
type 9     18409
type 1     13354
type 11    11913
type 2     11091
type 4      9880
type 12     9802
type 16     8869
type 13     8451
type 17     7432
type 24     7342
type 7      7255
type 14     6996
type 18     6222
type 19     5355
type 15     5318
type 22     4787
type 20     4758
type 6      4503
type 3      4266
type 5      3988
type 10     3208
type 23     3041
type 21     1564
type 25      763
Name: char_7, dtype: int64

type 3    76353
type 2    62773
type 1    12471
type 4    12264
type 6     8679
type 8     6002
type 5     5524
type 7     5052
Name: char_8, dtype: int64

type 3    80724
type 2    50729
type 4    13468
type 1     8985
type 8     8464
type 6     8123
type 9     7530
type 5     5845
type 7     5250
Name: char_9, dtype: int64

False    141660
True      47458
Name: char_10, dtype: int64

False    148363
True      40755
Name: char_11, dtype: int64

False    143664
True      45454
Name: char_12, dtype: int64

False    120076
True      69042
Name: char_13, dtype: int64

False    139985
True      49133
Name: char_14, dtype: int64

False    138148
True      50970
Name: char_15, dtype: int64

False    135772
True      53346
Name: char_16, dtype: int64

False    133903
True      55215
Name: char_17, dtype: int64

False    153635
True      35483
Name: char_18, dtype: int64

False    135284
True      53834
Name: char_19, dtype: int64

False    145788
True      43330
Name: char_20, dtype: int64

False    135213
True      53905
Name: char_21, dtype: int64

False    134074
True      55044
Name: char_22, dtype: int64

False    132668
True      56450
Name: char_23, dtype: int64

False    153101
True      36017
Name: char_24, dtype: int64

False    127128
True      61990
Name: char_25, dtype: int64

False    157530
True      31588
Name: char_26, dtype: int64

False    144098
True      45020
Name: char_27, dtype: int64

False    134484
True      54634
Name: char_28, dtype: int64

False    157281
True      31837
Name: char_29, dtype: int64

False    149983
True      39135
Name: char_30, dtype: int64

False    136433
True      52685
Name: char_31, dtype: int64

False    135237
True      53881
Name: char_32, dtype: int64

False    147920
True      41198
Name: char_33, dtype: int64

False    121701
True      67417
Name: char_34, dtype: int64

False    149351
True      39767
Name: char_35, dtype: int64

False    124118
True      65000
Name: char_36, dtype: int64

False    135134
True      53984
Name: char_37, dtype: int64

0      41433
98      4646
90      4200
95      3232
91      3178
100     3161
83      3073
94      3026
87      2994
97      2971
72      2637
77      2570
82      2473
89      2462
80      2453
76      2398
85      2275
68      2270
52      2169
71      2144
73      2130
79      2130
86      2103
88      2072
84      2038
74      2036
78      2033
92      1999
81      1985
69      1862
       ...
35       882
28       877
13       870
20       863
33       857
48       851
34       835
18       814
22       789
14       787
30       785
25       764
40       735
19       722
2        710
16       709
9        683
42       680
3        674
12       667
4        655
10       631
17       610
1        603
15       599
11       577
6        570
5        554
8        551
7        528

Name: char_38, Length: 101, dtype: int64

In [4]:
# display ratio of values in all key
print('act_train.csv')
list_key_act_train=df_act_train
for key_act_train in list_key_act_train:
    print(df_act_train[key_act_train].value_counts())
    print()

act_train.csv
ppl_294918    55103
ppl_370270    53668
ppl_105739    45936
ppl_54699     23969
ppl_64887      7052
ppl_250020     4293
ppl_351668     3144
ppl_36839      3059
ppl_372923     2365
ppl_265578     1539
ppl_97427      1487
ppl_255923     1429
ppl_245408      991
ppl_363184      825
ppl_258085      742
ppl_60206       736
ppl_9442        730
ppl_137451      711
ppl_60486       664
ppl_3270        649
ppl_380820      646
ppl_267205      584
ppl_359707      556
ppl_366313      555
ppl_333492      542
ppl_363605      533
ppl_102941      524
ppl_7497        521
ppl_159670      513
ppl_307791      509
              ...
ppl_326528        1
ppl_2371          1
ppl_8301          1
ppl_229462        1
ppl_70642         1
ppl_74714         1
ppl_33546         1
ppl_274053        1
ppl_316498        1
ppl_147948        1
ppl_172297        1
ppl_364190        1
ppl_119065        1
ppl_384325        1
ppl_341986        1
ppl_347416        1
ppl_259354        1
ppl_186949        1
ppl_262224        1
ppl_269974        1
ppl_225785        1
ppl_155776        1
ppl_137423        1
ppl_200613        1
ppl_321054        1
ppl_174305        1
ppl_180382        1
ppl_64037         1
ppl_243695        1
ppl_182077        1
Name: people_id, Length: 151295, dtype: int64

act2_1412723    1
act2_752320     1
act2_319372     1
act2_565157     1
act2_4306722    1
act2_2415857    1
act2_1613702    1
act2_2591023    1
act1_352598     1
act2_1154140    1
act2_2707601    1
act1_272021     1
act2_1638238    1
act2_2273102    1
act2_1542453    1
act2_487933     1
act2_2551730    1
act2_1239070    1
act2_2557956    1
act2_117669     1
act2_1425796    1
act2_4379701    1
act2_1926759    1
act2_2237677    1
act2_74313      1
act2_959475     1
act2_4102316    1
act2_3792617    1
act1_256509     1
act2_1078353    1
               ..
act2_856621     1
act2_4683432    1
act2_1833590    1
act2_434233     1
act2_3100303    1
act2_3388965    1
act2_1502225    1
act2_4393032    1
act2_1669740    1
act2_1408412    1
act2_948919     1
act2_219823     1
act2_546204     1
act2_4436544    1
act2_3435406    1
act2_1356628    1
act2_472453     1
act2_3423044    1
act1_93257      1
act2_3534524    1
act2_79666      1
act2_2981401    1
act2_1534844    1
act2_4503655    1
act2_3476340    1
act2_590895     1
act2_1999971    1
act2_1676825    1
act2_1120892    1
act2_3165086    1
Name: activity_id, Length: 2197291, dtype: int64

2022-09-30    48174
2022-09-16    43322
2022-10-23    40821
2022-09-15    30019
2022-10-22    29685
2022-10-15    28412
2022-10-19    27948
2022-09-29    27829
2022-10-20    27775
2022-09-28    19939
2022-11-05    17759
2022-11-03    17518
2023-06-30    17283
2022-10-18    16974
2022-10-24    16851
2022-10-21    16621
2023-01-11    16537
2023-02-10    16067
2022-09-22    15107
2022-10-27    14686
2022-10-26    13839
2022-10-16    13560
2022-11-26    13505
2022-10-01    13322
2022-09-17    13269
2023-06-15    13096
2023-03-03    12936
2023-02-16    12748
2023-07-01    12248
2022-11-11    12167
              ...
2023-07-03      499
2023-05-08      464
2023-05-29      464
2022-12-07      458
2023-03-16      450
2023-06-05      443
2022-12-09      433
2023-05-22      423
2023-05-01      422
2023-08-31      403
2023-05-19      366
2022-12-14      366
2023-07-31      358
2022-12-08      329
2023-05-14      313
2023-05-15      306
2022-12-06      304
2022-12-04      288
2022-12-13      247
2022-08-15      233
2022-12-10      224
2022-12-11      169
2022-12-03      159
2023-03-12      110
2023-03-13       62
2023-08-19       58
2022-12-05       44
2022-12-12       34
2023-08-21       18
2023-08-20        9
Name: date, Length: 411, dtype: int64

type 2    904683
type 5    490710
type 3    429408
type 4    207465
type 1    157615
type 6      4253
type 7      3157
Name: activity_category, dtype: int64

type 2     38030
type 5     34509
type 1     14938
type 12    14917
type 3     12372
type 10     7795
type 7      7312
type 23     2420
type 6      2385
type 11     2333
type 26     2220
type 8      2110
type 17     1778
type 13     1586
type 4      1329
type 15     1284
type 29     1233
type 16     1229
type 9      1225
type 14      990
type 28      706
type 25      694
type 30      653
type 24      641
type 19      491
type 20      434
type 36      397
type 41      278
type 40      214
type 22      211
type 27      199
type 35      180
type 32      146
type 34       66
type 39       63
type 33       60
type 18       57
type 31       54
type 38       12
type 43       11
type 37       10
type 44        8
type 46        6
type 49        6
type 21        5
type 50        5
type 42        4
type 52        3
type 48        3
type 47        2
type 45        1
Name: char_1, dtype: int64

type 2     50524
type 5     31794
type 1     21616
type 3      9810
type 16     7551
type 10     6932
type 8      5306
type 6      5293
type 12     3239
type 14     2807
type 9      2578
type 7      2311
type 13     1851
type 19     1311
type 17     1059
type 15      797
type 4       781
type 18      583
type 20      326
type 26      272
type 11      234
type 29      161
type 22      112
type 25       95
type 24       77
type 23       73
type 21       52
type 27       35
type 28       17
type 31        7
type 30        7
type 32        4
Name: char_2, dtype: int64

type 1     38224
type 5     35488
type 4     20466
type 3     19637
type 6     19631
type 7      9755
type 2      6577
type 8      6473
type 9      1328
type 10       31
type 11        5
Name: char_3, dtype: int64

type 3    98131
type 1    27979
type 4    13730
type 2     9316
type 5     5520
type 6     2929
type 7       10
Name: char_4, dtype: int64

type 6    67989
type 1    49214
type 2    26982
type 3     6013
type 5     5421
type 4     1995
type 7        1
Name: char_5, dtype: int64

type 2    61026
type 1    48658
type 3    46124
type 4     1241
type 5      566
Name: char_6, dtype: int64

type 1    52548
type 3    42968
type 2    32199
type 6    10604
type 4     8751
type 5     8104
type 7     1934
type 8      507
Name: char_7, dtype: int64

type 4     77460
type 5     12396
type 1     11621
type 6     10322
type 7      7737
type 8      6657
type 9      6400
type 3      4909
type 2      4131
type 10     3897
type 11     3099
type 13     2390
type 14     2337
type 15     1511
type 12     1471
type 16      893
type 17      237
type 18      147
Name: char_8, dtype: int64

type 8     31794
type 1     24765
type 2     13488
type 6     12824
type 5     11021
type 4      8325
type 17     7827
type 10     6878
type 12     6833
type 15     6770
type 7      6031
type 3      5958
type 16     5037
type 13     4622
type 14     2545
type 18     1341
type 9       834
type 11      455
type 19      267
Name: char_9, dtype: int64

type 1       904683
type 23      200408
type 2       116191
type 61       35417
type 452      23513
type 489      23471
type 52       19515
type 481      18019
type 433      17282
type 8        16112
type 3        14139
type 450      12824
type 649      11630
type 899      11427
type 400      10569
type 464      10368
type 55        8072
type 248       7860
type 257       7349
type 420       6719
type 201       6574
type 297       5145
type 600       4998
type 1058      4993
type 143       4760
type 1069      4624
type 110       4253
type 230       3875
type 1251      3798
type 585       3710
              ...
type 8805         1
type 9092         1
type 3682         1
type 7869         1
type 3439         1
type 7557         1
type 9189         1
type 3005         1
type 6787         1
type 5558         1
type 7396         1
type 8616         1
type 8673         1
type 9247         1
type 5847         1
type 7189         1
type 7195         1
type 8286         1
type 8966         1
type 7726         1
type 7433         1
type 7147         1
type 8545         1
type 4952         1
type 2907         1
type 7709         1
type 3654         1
type 7699         1
type 6752         1
type 7336         1
Name: char_10, Length: 6515, dtype: int64

0    1221794
1     975497
Name: outcome, dtype: int64

In [5]:
# display ratio of values in all key
print('act_test.csv')
list_key_act_test=df_act_test
for key_act_test in list_key_act_test:
    print(df_act_test[key_act_test].value_counts())
    print()

act_test.csv
ppl_112017    1650
ppl_269574     948
ppl_137922     868
ppl_60553      532
ppl_125856     526
ppl_358338     519
ppl_306851     490
ppl_162444     482
ppl_299382     477
ppl_21718      449
ppl_189645     441
ppl_241764     416
ppl_134491     409
ppl_219442     399
ppl_132246     392
ppl_215180     388
ppl_21749      387
ppl_96319      383
ppl_25870      375
ppl_50312      372
ppl_170054     371
ppl_73780      367
ppl_308274     361
ppl_144708     358
ppl_88725      349
ppl_173480     345
ppl_27897      339
ppl_348071     333
ppl_351655     333
ppl_31903      333
              ...
ppl_355826       1
ppl_297254       1
ppl_335524       1
ppl_187264       1
ppl_311680       1
ppl_66925        1
ppl_5643         1
ppl_394154       1
ppl_287569       1
ppl_354117       1
ppl_340730       1
ppl_250456       1
ppl_167232       1
ppl_112963       1
ppl_161064       1
ppl_248981       1
ppl_184523       1
ppl_165262       1
ppl_207976       1
ppl_152894       1
ppl_303180       1
ppl_324079       1
ppl_390073       1
ppl_181673       1
ppl_195688       1
ppl_67466        1
ppl_314659       1
ppl_326718       1
ppl_330512       1
ppl_343526       1
Name: people_id, Length: 37823, dtype: int64

act2_2379490    1
act2_1892019    1
act2_198870     1
act2_2241585    1
act2_1920539    1
act2_1147736    1
act2_2757503    1
act1_288098     1
act2_210554     1
act2_1775679    1
act2_4002811    1
act2_3298853    1
act2_2267215    1
act2_2670477    1
act2_1765038    1
act2_2910434    1
act2_4597247    1
act2_2748804    1
act1_61062      1
act2_2368157    1
act2_2935334    1
act2_3940165    1
act2_1052647    1
act2_2021125    1
act2_3170962    1
act1_294726     1
act1_18443      1
act2_4260090    1
act2_3777698    1
act1_223037     1
               ..
act1_269107     1
act2_2526737    1
act2_3736697    1
act2_2144371    1
act2_2388713    1
act2_2463187    1
act2_1845122    1
act2_1860436    1
act2_1097467    1
act2_2022391    1
act2_759662     1
act2_4027642    1
act2_3354589    1
act2_364871     1
act2_867988     1
act2_220557     1
act2_2679420    1
act2_1664718    1
act2_3316103    1
act2_4268338    1
act2_1984417    1
act2_997092     1
act2_4709055    1
act2_2795712    1
act2_1836591    1
act1_69584      1
act2_1791725    1
act2_2421922    1
act1_321014     1
act2_3821907    1
Name: activity_id, Length: 498687, dtype: int64

2022-09-16    10302
2022-09-15     7288
2022-10-15     7085
2022-10-01     4908
2022-11-05     4622
2022-10-23     4540
2023-06-30     4419
2023-01-11     4338
2022-11-03     4252
2022-10-27     3969
2023-02-10     3948
2022-10-21     3891
2022-11-26     3708
2022-09-30     3505
2022-10-26     3402
2022-10-16     3368
2023-06-15     3354
2023-03-03     3119
2023-02-16     3046
2023-02-15     3034
2022-09-17     3018
2023-07-01     2973
2023-03-02     2941
2023-01-12     2927
2022-11-11     2926
2023-02-09     2884
2023-02-11     2841
2023-03-08     2807
2022-11-04     2767
2022-11-09     2734
              ...
2022-11-21      119
2023-05-08      118
2022-10-10      115
2022-12-09      111
2022-12-16      106
2023-05-01      101
2023-03-16       96
2023-05-29       92
2023-08-31       91
2023-05-15       89
2022-12-08       89
2023-05-22       85
2022-12-13       84
2022-12-04       75
2023-05-14       74
2023-07-31       73
2022-12-14       69
2022-12-06       69
2022-12-10       68
2023-05-19       60
2022-08-15       48
2022-12-03       42
2022-12-11       41
2023-03-12       20
2023-03-13       13
2023-08-19       13
2022-12-05       11
2022-12-12        7
2023-08-21        3
2023-08-20        1
Name: date, Length: 411, dtype: int64

type 2    223164
type 5    123463
type 3     59931
type 4     50215
type 1     40092
type 6      1051
type 7       771
Name: activity_category, dtype: int64

type 2     9862
type 5     8657
type 12    3985
type 1     3886
type 3     3193
type 10    1877
type 7     1837
type 23     594
type 6      579
type 11     555
type 26     523
type 8      473
type 17     460
type 13     384
type 29     350
type 15     344
type 4      331
type 16     325
type 9      314
type 14     260
type 24     166
type 28     164
type 25     161
type 30     154
type 19     110
type 20     108
type 36      84
type 22      60
type 41      59
type 27      45
type 32      36
type 40      35
type 35      34
type 31      21
type 18      21
type 34      14
type 39       9
type 33       7
type 38       3
type 43       2
type 21       2
type 37       2
type 44       1
type 45       1
type 42       1
type 49       1
type 52       1
type 50       1
Name: char_1, dtype: int64

type 2     12757
type 5      7888
type 1      5659
type 3      2460
type 16     2126
type 10     1728
type 6      1361
type 8      1289
type 12      788
type 14      717
type 9       700
type 7       550
type 13      468
type 19      369
type 17      251
type 15      217
type 4       185
type 18      160
type 26      111
type 20       67
type 11       55
type 27       49
type 29       39
type 25       26
type 23       18
type 24       17
type 22       16
type 21       12
type 30        5
type 28        3
type 31        1
Name: char_2, dtype: int64

type 1     9927
type 5     9001
type 4     5309
type 3     4903
type 6     4781
type 7     2409
type 8     1800
type 2     1647
type 9      307
type 10       6
type 11       2
Name: char_3, dtype: int64

type 3    25046
type 1     7158
type 4     3534
type 2     2247
type 5     1356
type 6      749
type 7        2
Name: char_4, dtype: int64

type 6    17131
type 1    12318
type 2     7288
type 3     1492
type 5     1343
type 4      520
Name: char_5, dtype: int64

type 2    15940
type 1    12284
type 3    11421
type 4      300
type 5      147
Name: char_6, dtype: int64

type 1    13290
type 3    11367
type 2     8182
type 6     2617
type 4     2102
type 5     1910
type 7      486
type 8      138
Name: char_7, dtype: int64

type 4     19803
type 5      3025
type 1      2933
type 6      2579
type 7      1887
type 9      1776
type 8      1620
type 3      1202
type 2      1157
type 10      911
type 11      827
type 13      634
type 14      600
type 15      427
type 12      413
type 16      218
type 17       45
type 18       35
Name: char_8, dtype: int64

type 8     7888
type 1     6299
type 2     3406
type 6     3397
type 5     2737
type 4     2048
type 17    2014
type 15    1904
type 10    1848
type 12    1697
type 7     1533
type 3     1440
type 13    1312
type 16    1251
type 14     601
type 18     370
type 9      182
type 11      97
type 19      68
Name: char_9, dtype: int64

type 1       223164
type 2        30019
type 61        8667
type 452       6618
type 489       6284
type 52        4762
type 433       4592
type 481       4333
type 8         3806
type 3         3521
type 450       3505
type 464       2673
type 400       2532
type 649       2524
type 899       2416
type 23        2396
type 55        2123
type 248       1893
type 420       1717
type 201       1682
type 257       1642
type 1251      1331
type 297       1213
type 143       1139
type 230       1111
type 600       1087
type 110       1051
type 1058      1046
type 1069      1010
type 585        952
              ...
type 1430         1
type 1268         1
type 6943         1
type 3913         1
type 1562         1
type 5143         1
type 1412         1
type 7593         1
type 8233         1
type 3045         1
type 2087         1
type 2314         1
type 8089         1
type 7984         1
type 7484         1
type 656          1
type 7671         1
type 7463         1
type 1126         1
type 2136         1
type 2813         1
type 140          1
type 3475         1
type 7021         1
type 5478         1
type 1546         1
type 2941         1
type 7144         1
type 1227         1
type 4071         1
Name: char_10, Length: 3961, dtype: int64

In [6]:
# rename key name to avoid depulication
for i in range(1,39):
    keyname_old='char_'+str(i)
    keyname_new='people_'+keyname_old
    df_people=df_people.rename(columns={keyname_old: keyname_new})

# merge 2 dataset
df_merge_train=pd.merge(df_people,df_act_train,on='people_id',how='right') # remain all values in df_act_train (right)

In [30]:
# for reducing calculation for prototyping, only use 10000 samples
df_merge_train_10000_samples=df_merge_train[0:10000]

# delete char_1 to char_9 because it seems complex right now.
for i in range(1,10):
    deleted_key='char_'+str(i)
    del df_merge_train_10000_samples[deleted_key]

# get_one_hot_expression
df_one_hot_simple=pd.get_dummies(df_merge_train_10000_samples,columns=['activity_category'])

#df_one_hot_simple.to_csv('data/result/dataset_test.csv')

In [46]:
#%debug
# convert each columns and add them to df_for_train
df_for_train=df_merge_train_10000_samples[['activity_id','outcome']]

# add date
tmp_column=df_merge_train_10000_samples['date_y'].copy()
first_day=datetime(2020,1,1,0,0)
for i in range(len(tmp_column)):
    splitted=tmp_column[i].split('-')
    delta_day=(datetime(int(splitted[0]),int(splitted[1]),int(splitted[2]),0,0)-first_day).days
    #print(delta_day)
    tmp_column.loc[i]=delta_day

df_for_train=pd.concat([df_for_train,tmp_column],axis=1)
    

# add group_1
tmp_column=df_merge_train_10000_samples[['activity_category','people_char_1']]
tmp_converted=pd.get_dummies(tmp_column,sparse=True)
df_for_train=pd.concat([df_for_train,tmp_converted],axis=1)

'''
# add people_char_1
tmp_column=df_merge_train_10000_samples['people_char_1']
tmp_converted=pd.get_dummies(tmp_column,sparse=True)
df_for_train=pd.concat([df_for_train,tmp_converted],axis=1)
'''



df_for_train.head

<bound method NDFrame.head of        activity_id  outcome  date_y  activity_category_type 1  \
0     act2_1734928        0    1333                         0
1     act2_2434093        0    1000                         0
2     act2_3404049        0    1000                         0
3     act2_3651215        0    1311                         0
4     act2_4109017        0    1333                         0
5      act2_898576        0    1311                         0
6     act2_1233489        1    1057                         0
7     act2_1623405        1    1057                         0
8     act2_1111598        1    1133                         0
9     act2_1177453        1    1274                         0
10     act2_133509        1     952                         0
11    act2_1408475        1    1156                         0
12    act2_1610829        1     986                         0
13    act2_1688731        1    1136                         0
14    act2_1961720        1    1274                         0
15    act2_1988351        1     965                         0
16    act2_2198176        1     958                         0
17    act2_2437661        1    1128                         0
18    act2_2476911        1    1156                         0
19    act2_2557270        1     972                         0
20    act2_2581989        1    1147                         0
21    act2_3116385        1    1141                         0
22    act2_3159712        1     972                         0
23    act2_3292005        1    1218                         0
24    act2_3461867        1    1309                         0
25    act2_3468306        1    1156                         0
26    act2_3867292        1    1136                         0
27    act2_3990676        1    1337                         0
28    act2_4102292        1    1337                         0
29    act2_4160587        1    1147                         0
...            ...      ...     ...                       ...
9970  act2_2036436        1    1337                         0
9971  act2_2247625        1    1177                         0
9972  act2_2392590        1    1164                         0
9973  act2_2405426        1    1282                         0
9974  act2_2485187        1    1177                         0
9975  act2_2487450        1    1282                         0
9976  act2_2831942        1    1147                         0
9977   act2_325415        1    1186                         0
9978  act2_3291339        1    1178                         0
9979  act2_3726540        1    1281                         0
9980  act2_3744092        1    1164                         0
9981  act2_4170698        1    1315                         0
9982  act2_4245253        1    1337                         0
9983  act2_4735455        1    1297                         0
9984   act2_580157        1    1317                         0
9985   act2_812311        1    1302                         0
9986   act2_861657        1    1317                         0
9987   act1_281373        1    1058                         1
9988  act2_2136835        1    1324                         0
9989   act2_219118        1    1233                         0
9990  act2_3595840        1    1324                         0
9991  act2_4345348        1    1324                         0
9992  act2_4514651        1    1114                         0
9993   act2_521399        1    1081                         0
9994   act2_993986        1    1324                         0
9995  act2_1532211        1    1288                         0
9996  act2_2656757        1    1290                         0
9997  act2_2700274        1    1290                         0
9998  act2_3782979        1    1288                         0
9999   act2_396307        1    1274                         0

      activity_category_type 2  activity_category_type 3  \
0                            0                         0
1                            1                         0
2                            1                         0
3                            1                         0
4                            1                         0
5                            0                         0
6                            1                         0
7                            1                         0
8                            1                         0
9                            1                         0
10                           0                         0
11                           0                         0
12                           1                         0
13                           0                         0
14                           0                         0
15                           1                         0
16                           1                         0
17                           1                         0
18                           1                         0
19                           0                         0
20                           1                         0
21                           1                         0
22                           1                         0
23                           1                         0
24                           1                         0
25                           0                         0
26                           1                         0
27                           0                         0
28                           1                         0
29                           1                         0
...                        ...                       ...
9970                         0                         1
9971                         1                         0
9972                         1                         0
9973                         0                         1
9974                         1                         0
9975                         1                         0
9976                         0                         0
9977                         1                         0
9978                         1                         0
9979                         0                         0
9980                         0                         0
9981                         1                         0
9982                         0                         1
9983                         1                         0
9984                         1                         0
9985                         1                         0
9986                         1                         0
9987                         0                         0
9988                         0                         0
9989                         1                         0
9990                         1                         0
9991                         0                         0
9992                         1                         0
9993                         1                         0
9994                         1                         0
9995                         1                         0
9996                         1                         0
9997                         0                         1
9998                         0                         1
9999                         0                         1

      activity_category_type 4  activity_category_type 5  \
0                            1                         0
1                            0                         0
2                            0                         0
3                            0                         0
4                            0                         0
5                            1                         0
6                            0                         0
7                            0                         0
8                            0                         0
9                            0                         0
10                           1                         0
11                           1                         0
12                           0                         0
13                           1                         0
14                           1                         0
15                           0                         0
16                           0                         0
17                           0                         0
18                           0                         0
19                           1                         0
20                           0                         0
21                           0                         0
22                           0                         0
23                           0                         0
24                           0                         0
25                           1                         0
26                           0                         0
27                           1                         0
28                           0                         0
29                           0                         0
...                        ...                       ...
9970                         0                         0
9971                         0                         0
9972                         0                         0
9973                         0                         0
9974                         0                         0
9975                         0                         0
9976                         1                         0
9977                         0                         0
9978                         0                         0
9979                         1                         0
9980                         1                         0
9981                         0                         0
9982                         0                         0
9983                         0                         0
9984                         0                         0
9985                         0                         0
9986                         0                         0
9987                         0                         0
9988                         1                         0
9989                         0                         0
9990                         0                         0
9991                         1                         0
9992                         0                         0
9993                         0                         0
9994                         0                         0
9995                         0                         0
9996                         0                         0
9997                         0                         0
9998                         0                         0
9999                         0                         0

      activity_category_type 6  activity_category_type 7  \
0                            0                         0
1                            0                         0
2                            0                         0
3                            0                         0
4                            0                         0
5                            0                         0
6                            0                         0
7                            0                         0
8                            0                         0
9                            0                         0
10                           0                         0
11                           0                         0
12                           0                         0
13                           0                         0
14                           0                         0
15                           0                         0
16                           0                         0
17                           0                         0
18                           0                         0
19                           0                         0
20                           0                         0
21                           0                         0
22                           0                         0
23                           0                         0
24                           0                         0
25                           0                         0
26                           0                         0
27                           0                         0
28                           0                         0
29                           0                         0
...                        ...                       ...
9970                         0                         0
9971                         0                         0
9972                         0                         0
9973                         0                         0
9974                         0                         0
9975                         0                         0
9976                         0                         0
9977                         0                         0
9978                         0                         0
9979                         0                         0
9980                         0                         0
9981                         0                         0
9982                         0                         0
9983                         0                         0
9984                         0                         0
9985                         0                         0
9986                         0                         0
9987                         0                         0
9988                         0                         0
9989                         0                         0
9990                         0                         0
9991                         0                         0
9992                         0                         0
9993                         0                         0
9994                         0                         0
9995                         0                         0
9996                         0                         0
9997                         0                         0
9998                         0                         0
9999                         0                         0

      people_char_1_type 1  people_char_1_type 2
0                        0                     1
1                        0                     1
2                        0                     1
3                        0                     1
4                        0                     1
5                        0                     1
6                        0                     1
7                        0                     1
8                        0                     1
9                        0                     1
10                       0                     1
11                       0                     1
12                       0                     1
13                       0                     1
14                       0                     1
15                       0                     1
16                       0                     1
17                       0                     1
18                       0                     1
19                       0                     1
20                       0                     1
21                       0                     1
22                       0                     1
23                       0                     1
24                       0                     1
25                       0                     1
26                       0                     1
27                       0                     1
28                       0                     1
29                       0                     1
...                    ...                   ...
9970                     1                     0
9971                     1                     0
9972                     1                     0
9973                     1                     0
9974                     1                     0
9975                     1                     0
9976                     1                     0
9977                     1                     0
9978                     1                     0
9979                     1                     0
9980                     1                     0
9981                     1                     0
9982                     1                     0
9983                     1                     0
9984                     1                     0
9985                     1                     0
9986                     1                     0
9987                     0                     1
9988                     0                     1
9989                     0                     1
9990                     0                     1
9991                     0                     1
9992                     0                     1
9993                     0                     1
9994                     0                     1
9995                     0                     1
9996                     0                     1
9997                     0                     1
9998                     0                     1
9999                     0                     1

[10000 rows x 12 columns]>