<a href="https://colab.research.google.com/github/YangHong92/ADML-RedHat/blob/colab_test/data_process/load_data_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
from google.colab import drive
drive.mount('/content/gdrive') # your google drive will be mounted as '/content/gdrive/My Drive/*'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
df_train=pd.read_pickle('/content/gdrive/My Drive/colab/redhat/dataset/train_one_hot_100000.pkl')
df_valid=pd.read_pickle('/content/gdrive/My Drive/colab/redhat/dataset/valid_one_hot_10000.pkl')

In [10]:
df_train.head()

,people_id,activity_id,act_date,outcome,ppl_date,ppl_char_10,ppl_char_11,ppl_char_12,ppl_char_13,ppl_char_14,...,ppl_char_8_type 8,ppl_char_9_type 1,ppl_char_9_type 2,ppl_char_9_type 3,ppl_char_9_type 4,ppl_char_9_type 5,ppl_char_9_type 6,ppl_char_9_type 7,ppl_char_9_type 8,ppl_char_9_type 9
28933,ppl_105,act1_232992,0.236585,0,0.739167,1,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
119450,ppl_112792,act2_1963637,0.690244,0,0.568333,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1518724,ppl_352739,act2_3806874,0.151220,1,0.597500,1,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
435859,ppl_170682,act2_1643153,0.473171,0,0.229167,1,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
927526,ppl_256890,act2_3038160,0.541463,0,0.831667,1,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0

In [9]:
df_valid.head()

,people_id,activity_id,act_date,outcome,ppl_date,ppl_char_10,ppl_char_11,ppl_char_12,ppl_char_13,ppl_char_14,...,ppl_char_8_type 8,ppl_char_9_type 1,ppl_char_9_type 2,ppl_char_9_type 3,ppl_char_9_type 4,ppl_char_9_type 5,ppl_char_9_type 6,ppl_char_9_type 7,ppl_char_9_type 8,ppl_char_9_type 9
849323,ppl_244251,act2_4201718,0.412195,0,0.505000,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
760554,ppl_228807,act2_3357931,0.041463,0,0.153333,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1245057,ppl_303322,act2_446002,0.660976,1,0.859167,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2078430,ppl_78984,act2_3749682,0.251220,1,0.709167,1,0,1,1,1,...,0,0,0,0,0,0,0,1,0,0
1423373,ppl_335869,act2_3122419,0.397561,1,0.314167,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0