<a href="https://colab.research.google.com/github/YangHong92/ADML-RedHat/blob/colab_test/data_process/load_data_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
%matplotlib inline

In [0]:
from google.colab import drive
drive.mount('/content/gdrive') # your google drive will be mounted as '/content/gdrive/My Drive/*'

In [0]:
df_train=pd.read_pickle('/content/gdrive/My Drive/colab/redhat/dataset/train_one_hot_100000.pkl')
df_valid=pd.read_pickle('/content/gdrive/My Drive/colab/redhat/dataset/valid_one_hot_10000.pkl')

,people_id,activity_id,act_date,outcome,ppl_date,ppl_char_10,ppl_char_11,ppl_char_12,ppl_char_13,ppl_char_14,...,ppl_char_8_type 8,ppl_char_9_type 1,ppl_char_9_type 2,ppl_char_9_type 3,ppl_char_9_type 4,ppl_char_9_type 5,ppl_char_9_type 6,ppl_char_9_type 7,ppl_char_9_type 8,ppl_char_9_type 9
849323,ppl_244251,act2_4201718,959,0,606,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
760554,ppl_228807,act2_3357931,807,0,184,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1245057,ppl_303322,act2_446002,1061,1,1031,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2078430,ppl_78984,act2_3749682,893,1,851,1,0,1,1,1,...,0,0,0,0,0,0,0,1,0,0
1423373,ppl_335869,act2_3122419,953,1,377,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
550084,ppl_19114,act2_3105312,1166,1,200,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
464931,ppl_176036,act1_49780,1164,0,1159,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1717113,ppl_377215,act2_1542814,1067,1,984,1,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
1142800,ppl_294918,act2_1096840,885,0,881,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2059568,ppl_75638,act2_4478497,1102,0,989,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

### Minimu Max Scaling